environment: dev
app:
  id: mt.service.001
  name: mt.service
  version: 1.0.0
server:
  http:
    addr: 127.0.0.1:10010
    timeout: 5s
  grpc:
    addr: 127.0.0.1:10011
    timeout: 5s
data:
  database:
    default:
      dsn:
      driver: mysql
      dbname: apiserver
      host: 0.0.0.0
      username: root
      password: 123456
      charset: utf8mb4
      port: 3306
      prefix: api_
      max_idle_conn: 10
      max_open_conn: 100
      parse_time: "true"
      loc: Local
  redis:
    default:
      network: tcp
      addr: 0.0.0.0
      port: 6379
      password: 123456
      db: 0
      max_retries: 3
      min_idle_conns: 10
      max_conn_age: 100
jwt:
  app: mt.service
  key: 12FutyrF33FC11
  secret: Fu83AfHC839F0rTn22V23c
datetime:
  location: Asia/Shanghai
  cst_layout: 2006-01-02 15:04:05
language:
  local: zh-cn
validator:
  locale: zh
  tagname: label
log:
  max_size: 128
  max_backups: 5
  max_age: 7
  local_time: true
  compress: true